.abonement {
  background-color: #F8F9FC;
}

.abonement__slogan {
  padding-top: 70px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.abonement__name {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.96px;
  margin: 0;
}

.abonement__wrapper {
  
}
