.accordion {
  //max-width: 500px;
  margin: 0 auto;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    position: relative;
  }

  &__content {
    height: 200px;
  }

  &__name {
    margin: 0;
    padding-right: 42px;
  }

  &__text {
    margin: 0;
    margin-top: 12px;
  }

  &__element.is-active > &__button {
    opacity: 0.5;
  }

  &__button {
    width: 100%;
    padding: 10px;
    width: 32px;
    height: 32px;
    content: url("../../img/svg/btn--open.svg");
    z-index: 4;
    font-size: inherit;
    display: block;
    position: absolute;
    top: 30px;
    right: 0;

    text-transform: uppercase;

    cursor: pointer;
  }

  &__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
