.header__part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  color: #ffffff;
}

.header__text {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.header__phone {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

@media (min-width: $vp-768) {
  .header__part {
    padding-top: 40px;
  }

  .header__phone {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

@media (min-width: $vp-1200) {
  .header__part {
    padding-top: 30px;
  }
}
