.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.intro__item {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.intro__city {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.84px;
  padding: 0;
  margin: 0;
}

.intro__name {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 3.6px;
  padding: 0;
  margin: 0;
}
