.media {
  color: #ffffff;
}

.media__list {
  list-style-type: none;
}

.media__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
