.media {
  color: #ffffff;
}

.media__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 30px;
  grid-auto-flow: column;
}

.media__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.media__item {
  box-sizing: border-box;

  // &:first-child {
  //   margin-top: 30px;
  // }
}

.media__item--service {
  grid-row-start: 2;
}
