.page {
  height: 100%;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #102654;
  margin: 0;
}
