.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__wrapper {
  padding: 70px 15px;
}

.promotion__slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.promotion__name {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.96px;
  margin: 0;
}

.promotion__information {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ED0233;
  color: #ffffff;
}

.promotion__year {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 30px;
}

.promotion__number {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  margin: 0;
}

.promotion__description {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 30px;
}

.promotion__more {
  margin-bottom: 45px;
}

.promotion__link {
  color: #ffffff;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.promotion__image {
  display: flex;
}

.promotion__product {
  width: 290px;
  height: 299px;
  display: block;
  object-fit: cover;
}

.promotion__options {
  display: flex;
  flex-direction: column;
}

.promotion__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  border: 7px solid;
  border-image: linear-gradient(20deg, #003D85 22%, #B80027 78%);
  border-image-slice: 1;
  pointer-events: none;
}

.promotion__feature {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 39px;
}

.promotion__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.promotion__more {
  margin-bottom: 39px;
  margin-top: 35px;
}

.promotion__link--option {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #1C3374;
  border-bottom: 1px solid #1C3374;
  text-decoration: none;
  padding-bottom: 5px;
}
