.supergames__wrapper {
  padding: 70px 15px 70px 15px;
}

.supergames__promotion {
  background-color: #ED0233;
  color: #ffffff;
  display: grid;
  grid-template-columns: 117px 56px;
  column-gap: 29px;
  grid-template-rows: 93px 24px 39px;
  row-gap: 15px;
  padding: 50px 44px;
}

.supergames__slogan {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  align-self: center;
}

.supergames__period {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 13px;
  align-items: center;
  text-align: left;
  justify-content: left;
}

.supergames__text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.supergames__order {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.supergames__item {
  display: grid;
  grid-template-rows: 16px 19px;
}

.supergames__description--date {
  display: grid;
  grid-template-columns: 13px 26px;
  column-gap: 3px;
}

.supergames__name {
  font-family: "AlumniSans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1.44px;
  margin: 0;
  text-align: center;
}

.supergames__attribute {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.supergames__description {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.supergames__date {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.supergames__text {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.supergames__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
}

.supergames__link {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 50px;
  border: 2px solid #ffffff;
}
