.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tabs__control {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin: 0 20px;
  justify-content: space-between;
  background-color: #F8F9FC;
  margin: 0;
  padding: 20px 0;
  border: none;

  &.is-active {
    border-bottom: 1px solid #d10a42;
    pointer-events: none;
  }
}

.tabs__rubl {
  font-family: "rouble", "Arial", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  align-self: center;
  z-index: 3;
}

.tabs__content {
  margin-bottom: 40px;

  transition: height 0.3s;
}

.tabs__element {
  padding: 35px 15px 0 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F8F9FC;

  @media screen and (max-width: 767px) {
    padding: 35px 15px 0 15px;
  }

  &:nth-child(2) {
    background-color: rgb(229, 250, 215);
  }

  &:nth-child(3) {
    background-color: rgb(180, 188, 233);
  }

  &:nth-child(4) {
    background-color: rgb(255, 187, 204);
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
  background-color: #ffffff;
  text-align: center;

  &.is-active {
    border: 7px solid;
    border-image: linear-gradient(20deg, #003D85 22%, #B80027 78%);
    border-image-slice: 1;
    pointer-events: none;

    .tabs__link {
      background: linear-gradient(20deg, #003D85 22%, #B80027 78%);
      color: #ffffff;
      border: none;
    }
  }
}

.tabs__cost {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.tabs__price {
  margin: 0;
  margin-right: 10px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #103AAE;
  z-index: 3;
}

.tabs__shadow {
  position: absolute;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  color: #E8E8E8;
  opacity: 0.48;
  top: -45px;
  z-index: 1;
}

.tabs__order {
  margin: 0;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__link {
  text-decoration: none;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 27px 44px 28px 44px;
  border: 2px solid #102654;
  color: #102654;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__slogan {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 55px;
  margin-bottom: 20px;
}

.tabs__description {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 81px;
  color: #495A7D;
}
