.container {
  margin: 0 auto;

  @media (max-width: $vp-320) {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $vp-768) {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $vp-1200) {
    width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
